.cards .card-zoomin-hover .card-title{
    transition: all;
    transition: 0.6s ease-in-out;
}

.cards .card-zoomin-hover:hover img{
}

.cards .card-zoomin-hover:hover .card-title{
text-decoration: underline;

}