@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


/*hiding the scrollbar for firefox */
html{
  --speed07:0.7s;
scrollbar-width: none;
--light-gray-size-border-clr:#cacaca;
--navbar-height:80px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer base {


/* hide scroll bar but still maintain functionality for chrome safari and opera*/
body::-webkit-scrollbar{
display: none;

}

/* hide scrollbar for Edge, IE*/
body{
min-height: 100vh;
max-width:100%;
-ms-overflow-style:none;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

}



@layer components {
.translate{
  transform: translate(-50%, -50%);
}

.my-custom-border-right{
  position: relative;
}

.my-custom-border-right::after{
content: '';
position: absolute;
background: #c7c7c7;
top: 12px;
right: 0px;
width: 1px;
height: 40px;
}

.box-shadow-dropdownmenu{
box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.1);
}

.drop-down-menu-lg{
  @apply hidden bg-white/100 rounded-lg py-4 text-gray-950 w-[235px] md:block text-[1rem] font-medium font-montserrat absolute top-20 right-8 z-20 cursor-pointer transition-all
}

.drop-down-menu-sm{
  @apply  bg-white/100 rounded-t-2xl py-3 text-gray-950 w-[100%] text-[0.9rem] font-medium font-montserrat z-20 cursor-pointer transition-all absolute bottom-0 flex flex-col md:hidden
}

.show-dropdown-menu{
opacity: 1;
visibility: visible;
transform: translateY(0);
transition: all var(--speed07) ease;
}

.hide-dropdown-menu,
.close-dropdown-menu-onoutsideclick{
opacity: 0;
visibility: hidden;
transform: translateY(-22px);
transition: all var(--speed07) ease;
}

.showMenu{
  visibility: visible;
}

.close-menu{
visibility: hidden;
}

.accordion-border{
  border-top: 1px solid #eeecec;
}

.custom-trans{
  transition: all 0.2s ease-in;
}

.work-image{
  height: 500px;
  background: url("https://images.pexels.com/photos/4065876/pexels-photo-4065876.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-position: center;
  background-repeat: no-repeat;
}

.work-image:hover{
  background-size: -120%;
}

.indent-placeholder{
  text-indent: 35px;
}
}